* {
    padding: 0px;
    margin: 0px;
}

span {
    float: left;

    margin-right: 950px;
    margin-left: 100px;
    cursor: pointer;
}

.menu {
    height: 50px;
    width: 100%;
    /* background-color: peru; */
    /* text-align: center; */
    font-size: 20px;
    padding-top: 20px;
    color: white;
}

.cart {
    cursor: pointer;
    float: left;
    color: black;
}

.cart-no {
    float: left;
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    margin-top: -5px;
    font-size: 12px;

}
.logo {
    height: 40px;
    width: 80px;
}

button {
    float: left;
    height: 30px;
    width: 70px;
    background-color: rgb(220, 4, 4);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 50px;
    cursor: pointer;
}